
body {
    background: url("../img/background.png") no-repeat center center fixed;
    color: white;
    background-size: cover;
    background-color: #444;
}

.main_form {
	width : 20%;
	margin: auto;
	padding-top:20%;
}

.main_form p label {
	display: none;
}

.main_form p {
	margin:0;
}

#id_email {
	margin: 0px;
	padding: 0px;
	border-bottom:0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 45px;
	text-indent:3.8%;
}

#id_username {
	margin: 0px;
	padding: 0px;
	border-top:0px;
	border-bottom:0px;
	border-radius: 0px;
	border-radius: 0px;
	height: 45px;
	text-indent:3.8%;
}

#id_password {
	margin: 0px;
	padding: 0px;
	border-top:0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 45px;
	text-indent:3.8%;
}


.login_button {
	border-color: rgba(255, 255, 255, 0.3) !important;
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0% 0% !important;
	border-style: none !important; 
	color:white !important;
}

.signup_button {
	border-style: none !important; 
}

