<div class="grid-item">
    <div class="thumbnail">
	<img src="/static/{{ post.photos.all.0.image_file }}" alt="">
	<div class="caption">
	    <h4 class="pull-right">10000원</h4>
	    <h4><a href="#">{{ post.title }}</a>
	    </h4>
	    <p>{{ post.description }}</p>
	    <div class="tags">
		<ul>
		    {% for tag in post.tags.all %}
		    <!-- dummy url for tag search-->
		    <li class="tag"><a href="/dashboard/tags/{{ tag }}">#{{ tag }}</a></li>
                    {% endfor %}
		</ul>
	    </div>
	</div>
    </div>
</div>
